$primary: #44acdf;
$secondary: #ec994f;
$navWidth: 220px;
$transition: all 260ms ease-in;

.sr-only {
  display: none;
}

#app {
  position: relative;
  background: #eee;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.grid {
  display: grid;
}

.gap {
  grid-gap: 30px;
}

.col-1-2 {
  grid-template-columns: 1fr 2fr;
}

.col-1-3 {
  grid-template-columns: 1fr 3fr;
}
.col-3-1 {
  grid-template-columns: 3fr 1fr;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col-2-1-1 {
  grid-template-columns: 2fr 1fr 1fr;
}

.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.zips-count,
.zips-button {
  cursor: pointer;
}

.hover-icon,
.zips-button {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  margin: 30px;
  &:hover {
    background: lightgray;
    color: white;
  }
}

.zips-button {
  &:hover {
    background: lighten($primary, 20%);
  }
}

.topbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 15px 30px;
  .title {
    margin: 0;
  }
}

.zips-count {
  display: flex;
}

.sidebar {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: $primary;
  width: $navWidth;
  height: 100%;
  z-index: 100;
  padding: 15px;
  ul {
    list-style-type: none;
    margin-left: 0;
  }
  input[type="checkbox"] {
    margin: 0 10px 0 0;
  }
}  

.sidebar-toggle {
  display: none;
}

#results-wrap {
  padding: 20px 30px 60px calc(#{$navWidth} + 30px);
}

.result {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  box-shadow: 1px 1px 9px rgba(0,0,0,.15);
  h6 {
    margin: 0;
  }
  .actions,
  .result-inner {
    padding: 15px;
  }
  .result-preview {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:hover {
      opacity: .85;
    }
  }
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  & > * { margin-right: 10px;}
  svg { cursor: pointer; }
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
  & > * {
    margin: 10px 10px 10px 0;
  }
  li {
    background: limegreen;
    border-radius: 50px;
    padding: 5px 20px;
  }
}

.zips-view,
.detail-view {
  padding-bottom: 60px;
  h1, h2, h3, h4 {
    margin-top: 0;
  }
}

.zips-view {
  input { height: 100% }
  button[type="submit"] {
    background: $primary;
    color: white;
    &:disabled {
      opacity: .7;
    }
  }
}

// MEDIA QUERIES
@media (max-width: 860px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .sidebar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  .sidebar {
    width: $navWidth;
    .label { display: none; }
    .end {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  #results-wrap {
    padding: 0 30px;
    overflow-y: initial;
    height: auto;
  }
  
  .sidebar {
    transform: translateX(-$navWidth);
    transition: $transition;
  }
  .sidebar-toggle { transition: $transition; }
  .open {
    .sidebar {
      transform: translateX(0);
    }
    .sidebar-toggle {
      transform: translateX($navWidth);
    }
  }
}

// MEDIA QUERIES
@media(max-width: 767px) {
  .grid {
    display: block;
  }
}