$primary: #1e73be;
$secondary: purple;
$navWidth: 220px;
$transition: all 260ms ease-in;

body {
  color: black;
}

#app {
  position: relative;
  background: #eee;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 30px;
}

.grid {
  display: grid;
}

.gap {
  grid-gap: 30px;
}

.col-1-2 {
  grid-template-columns: 1fr 2fr;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-count,
.cart-button {
  cursor: pointer;
}

.cart-count {
  display: flex;
}

.topbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px 30px;
}

.sidebar {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: $primary;
  width: $navWidth;
  height: 100%;
  z-index: 100;
  padding: 15px;
  ul {
    list-style-type: none;
    margin-left: 0;
  }
  input[type="checkbox"] {
    margin: 0 10px 0 0;
  }
}
  
#results-wrap {
  padding: 20px 30px 60px calc(#{$navWidth} + 30px);
  height: 100%;
  overflow-y: auto;
}

.sidebar-toggle {
  display: none;
}

.result {
  background: white;
  box-shadow: 1px 1px 9px rgba(0,0,0,.15);
  h6 {
    margin: 15px 0;
  }
  .result-inner {
    padding: 15px;
  }
  .result-preview {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:hover {
      opacity: .85;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  & > * { margin-right: 10px;}
  svg { cursor: pointer; }
}

// MEDIA QUERIES
@media (max-width: 860px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .sidebar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  .sidebar {
    width: $navWidth;
    .label { display: none; }
    .end {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  #results-wrap {
    padding: 0 30px;
    overflow-y: initial;
    height: auto;
  }
  
  .sidebar {
    transform: translateX(-$navWidth);
    transition: $transition;
  }
  .sidebar-toggle { transition: $transition; }
  .open {
    .sidebar {
      transform: translateX(0);
    }
    .sidebar-toggle {
      transform: translateX($navWidth);
    }
  }
}
