$primary: #44acdf;
$secondary: #ec994f;
$navWidth: 220px;
$transition: all 260ms ease-in;

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.grid {
  display: grid;
}

.gap {
  grid-gap: 30px;
}

.col-1-2 {
  grid-template-columns: 1fr 2fr;
}

.col-1-3 {
  grid-template-columns: 1fr 3fr;
}
.col-3-1 {
  grid-template-columns: 3fr 1fr;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col-2-1-1 {
  grid-template-columns: 2fr 1fr 1fr;
}

.col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.sidebar-toggle {
  display: none;
}

#results-wrap {
  padding: 20px 30px 60px calc(#{$navWidth} + 30px);
}

.zips-view,
.detail-view {
  padding-bottom: 60px;
  h1, h2, h3, h4 {
    margin-top: 0;
  }
}

.zips-view {
  input { height: 100% }
  button[type="submit"] {
    background: $primary;
    color: white;
    &:disabled {
      opacity: .7;
    }
  }
}

// MEDIA QUERIES
@media (max-width: 860px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  // .sidebar-toggle {

  // }

  .sidebar {
    width: $navWidth;
    .label { display: none; }
    .end {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  #results-wrap {
    padding: 0 30px;
    overflow-y: initial;
    height: auto;
  }
  
  // .sidebar {
  //   transform: translateX(-$navWidth);
  //   transition: $transition;
  // }
  .sidebar-toggle { transition: $transition; }
  .open {
    .sidebar {
      transform: translateX(0);
    }
    .sidebar-toggle {
      transform: translateX($navWidth);
    }
  }
}

// MEDIA QUERIES
@media(max-width: 767px) {
  .grid {
    display: block;
  }
}